:root {
  --Accent: #e7e9fc;
  --Dark: #2e2f42;
  --Hero-background: #2e2f42;
  --Light: #f4f4fd;
  --Modal-background: #fcfcfc;
  --Modal-overlay: #2e2f42 100%, #2e2f42 40%;
  --Primary-Brand: #4d5ae5;
  --Pressed-state: #404bbf;
  --Success: #31d0aa;
  --Subtle-Text: #8e8f99;
  --Text: #434455;
  --White-background: #ffffff;
  --main-font-size: 16px;
  --main-line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
}

/*============================ MOBILE=============================== */
@media screen and (max-width: 767px) {
  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  /* Mobile-Menu */

  .mobile-menu-studio {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-top: 24px;
    padding-left: 8px;
    margin-bottom: 150px;
  }
  .mobile-menu-studio .menu {
    display: block;
    text-decoration: none;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    width: 428px;
  }
  .menu-address-li:first-child {
    font-size: 36px;
    font-weight: 700;
    min-width: 353px;
    font-style: normal;
    padding-bottom: 40px;
  }
  .menu-social-list {
    gap: 56px;
    justify-content: flex-start;
    display: flex;
    list-style: none;
  }
  .menu-address-list {
    flex-wrap: wrap;
    justify-content: start;
    max-width: 353px;
    margin-bottom: 48px;
    list-style: none;
  }
  .address-email {
    color: var(--Text);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
  }
  .blue {
    color: var(--Pressed-state);
  }
  .address-list {
    display: none;
  }
  /* Mobile- Header*/

  .container {
    max-width: 428px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .link {
    text-decoration: none;
  }
  .header-wrap {
    display: flex;
    align-items: center;
    height: 70px;
    max-width: 428px;
    position: relative;
  }
  .menu {
    display: none;
  }

  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: white;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    position: absolute;
    right: 16px;
  }
  .header-wrap .menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    stroke: var(--Dark);
  }
  /* Mobile- First Section*/
  .icons-secondary {
    display: none;
  }
  .section-third {
    display: none;
  }
  .customers-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 16px;
  }
  .header-second {
    justify-content: center;
    text-align: left;
  }
  .mobile-menu-container .active-page::after {
    display: none;
  }
  .active-page::after {
    background-color: var(--Pressed-state);
    border-radius: 2px;
    bottom: -1px;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .active-page {
    color: var(--Pressed-state);
    position: relative;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .starting-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office-mobile@2x.jpg");
    }
  }
  .address-phone {
    color: var(--Pressed-state);
  }
  .logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    color: var(--Primary-Brand);
  }
  .list-header {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 24px 0;
    margin-left: 76px;
    justify-content: center;
    gap: 40px;
  }

  .address {
    align-items: center;
    display: flex;
    font-style: normal;
    gap: 40px;
    margin-left: auto;
  }

  .address-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--Text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .accent {
    color: var(--Hero-background);
  }
  .list {
    list-style: none;
    display: flex;
    gap: 24px;
    color: var(--Dark);
  }

  /*Index
First main section*/
  .main {
    background-color: #2e2f42;
    padding: 188px 0;
    margin: 0 auto;
  }
  .list-fifth {
    height: 88px;
    min-width: 190px;
    list-style: none;
    margin-bottom: 72px;
  }

  .background-image {
    background-image: linear-gradient(#2e2f42b3, #2e2f42b3),
      url(../images/people-office-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 112px 0;
  }

  .header-first {
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--White-background);
    display: flex;
    display: block;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  /*Index
First main section - button*/
  .button-order {
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--White-background);
    background-color: var(--Primary-Brand);
    padding: 16px;
    border-radius: 4px;
    display: block;
    margin: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-order:hover,
  .button-order:focus {
    background-color: var(--Pressed-state);
    color: var(--White-background);
  }
  .team-card {
    margin-bottom: 72px;
  }

  /*Index
Second main section*/
  .section-secondary {
    padding-top: 96px;
    padding-bottom: 24px;
  }
  .list-feature {
    gap: 24px;
    list-style: none;
    margin-bottom: 72px;
  }
  .list-secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
  .header-second {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: var(--Dark);
    margin-bottom: 8px;
  }

  .body-secondary {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Text);
    margin: 0px;
    padding-bottom: 0ch;
    text-align: left;
  }
  .list-secondary-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Light);
    border-radius: 4px;
    width: 264px;
    margin-bottom: 72px;
  }
  .list-secondary-container {
    display: none;
  }
  .icons-secondary {
    margin: 24px 100px;
  }

  /*Index
Third main section*/
  .section-third {
    padding-bottom: 120px;
  }
  .header-third {
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .list-third {
    width: calc((100% - 48px) / 3);
  }

  /*Index
Fourth main section*/
  .fourth-section {
    background-color: var(--Light);
    padding: 96px 0 24px;
    margin: auto 0;
    text-align: center;
  }
  .body {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Text);
    margin: 0px;
    padding-bottom: 8px;
    text-align: center;
  }
  .footer-box {
    gap: 72px 24px;
  }
  .team-card {
    border-radius: 0px 0px 4px 4px;
    background-color: var(--White-background);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .team-container {
    padding: 32px 0px;
  }
  .social-media-container {
    width: 40px;
    height: 40px;
  }
  .header-our-team {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: var(--Dark);
    margin-bottom: 72px;
  }
  .header-names {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.025em;
    color: var(--Dark);
    margin-bottom: 8px;
  }
  .icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  /*Index
Fifth main section*/
  .section-fifth {
    padding: 50px 0;
  }
  .list-fifth {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  .customers-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8e8f99;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customers-icons:hover,
  .customers-icons:focus {
    border-color: #404bbf;
    color: #404bbf;
  }
  .icons-fifts {
    fill: currentColor;
  }
  /*Portfolio
Main section*/
  .main-section {
    padding-top: 96px;
    padding-bottom: 120px;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .list-main {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    color: var(--Dark);
    margin-bottom: 72px;
  }
  .button-portfolio {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid var(--Accent);
    background-color: var(--Light);
    color: var(--Primary-Brand);
    letter-spacing: 4%;
    border-radius: 4px;
    padding: 12px 24px;
    display: flex;
    align-items: flex-start;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-portfolio:hover,
  .button-portfolio:focus {
    cursor: pointer;
    color: var(--White-background);
    background-color: var(--Pressed-state);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
  }
  .link-cards {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .overlay {
    position: relative;
    overflow: hidden;
  }
  .overlay-paragraph {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-cards:hover .overlay-paragraph {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
  }
  .link-cards:focus .overlay-paragraph {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
  }

  .menu {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .highlight {
    position: relative;
    color: #404bbf;
  }

  .highlight::after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background: var(--Pressed-state);
  }

  .list-menu {
    gap: 40px;
  }
  .menu:hover,
  .menu:focus,
  .accent:hover,
  .accent:focus,
  .address-list:hover,
  .address-list:focus {
    color: #404bbf;
  }
  .hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /*Portfolio
Second main section*/

  .feature {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--Hero-background);
    margin-bottom: 8px;
  }
  .cards-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding: 0;
  }
  .cards-list img {
    display: block;
  }
  .card-container {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
  }
  .cards-feature {
    width: calc((100% - 48px) / 3);
  }
  .feature-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Text);
    background-color: #ffffff;
    border-top: none;
  }

  /*Footer*/
  .footer-studio {
    color: var(--Light);
  }
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--Primary-Brand);
    display: inline-block;
    margin-bottom: 16px;
    text-align: center;
    width: 100%;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
    max-width: 428px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer-box {
    margin: 0 auto 72px auto;
  }
  .footer-section {
    background-color: var(--Dark);
    padding: 96px 0;
    height: 664px;
  }
  .footer-body {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--Light);
    width: 264px;
    max-width: 264px;
  }
  .social-media-title {
    color: white;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
  }
  .footer-social-div {
    margin: 0 auto 72px auto;
  }
  .social-media-link-fourth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--Primary-Brand);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-media-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-media-link:hover,
  .social-media-link:focus {
    background-color: #31d0aa;
  }
  .social-media-icon-list {
    display: flex;
    gap: 16px;
  }
  .social-media-link-fourth:hover,
  .social-media-link-fourth:focus {
    background-color: #404bbf;
  }
  .social-media-icon {
    fill: var(--Light);
  }
  .subscribe-title {
    color: var(--White-background);
    font-size: 16px;
    line-height: 1.5;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
  }
  .button-subscribe {
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--White-background);
    background-color: var(--Primary-Brand);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    display: flex;
    border: none;
    min-width: 165px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 24px;
    margin: auto;
  }
  .button-subscribe:hover,
  .button-subscribe:focus {
    background-color: var(--Pressed-state);
    color: var(--White-background);
  }
  .subscription-icon {
    fill: var(--Light);
    margin-left: 16px;
  }
  .subscribe-container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  input {
    border-radius: 4px;
    border: 1px solid var(--White-background);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: var(--White-background);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 200% */
    letter-spacing: 0.48px;
    padding-left: 16px;
  }
  .footer-form {
    display: flex;
    flex-wrap: wrap;

    gap: 24px;
  }
  .footer-form-label {
    width: 100%;
  }
  /*Modal js*/

  .modal-backdrop {
    position: fixed;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2e2f4266;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
  .is-hidden .modal-container {
    transform: translateY(100%);
  }
  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 392px;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
    background-color: #fcfcfc;
  }
  .close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    min-width: 24px;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .paragraph-modal {
    text-align: center;
    margin-bottom: 16px;
  }
  .address .navigation {
    display: none;
  }
  .close-button:hover,
  .close-button:focus {
    background-color: var(--Pressed-state);
    border: none;
    fill: var(--White-background);
  }

  .modal-icon-container {
    position: relative;
    display: block;
    margin-bottom: 8px;
  }
  .modal-icon-input {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%); /* how to center an icon*/
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-button-send {
    display: block;
    border-radius: 4px;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    color: white;
    text-align: center;
    margin: auto;

    /* Button Text */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2e2f4266;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-textarea:focus {
    border-color: var(--Primary-Brand);
  }
  .modal-body {
    padding: 72px 24px 24px 24px;
    background-color: var(--Modal-background);
    width: 408px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    display: block;
    border-radius: 4px;
  }
  .modal-svg-input {
    position: relative;
    color: var(--Text);
  }
  .modal-comment-input {
    margin-bottom: 16px;
  }
  .privacy-container {
    margin-bottom: 24px;
  }
  .modal-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
  }
  .modal-privacy-link {
    color: var(--Primary-Brand);
  }
  .input-modal-privacy:checked + label > span {
    background-color: var(--Pressed-state);
    border: none;
    fill: var(--Light);
  }
  .modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
  }
  .modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2e2f42;
  }
  .modal-input:focus {
    border-color: #4d5ae5;
  }
  .modal-input:focus + svg {
    fill: #4d5ae5;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .footer-input-email {
    padding-left: 16px;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white);
    font-size: 12px;
    height: 40px;
    letter-spacing: 0.04em;
    line-height: 1.5;
  }
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    z-index: 999;
    transform: translateX(100%);
  }
  .menu-container.is-open {
    transform: translateX(0);
    background-color: white;
  }
}
